
<div class="row">
  <%=form_for @task, validate: true, html: {role: "form"} do |form|%>
  <%=render 'shared/errors.html.erb', :target => @task%>

  <div class="form-group">
  <%=form.label :title, 'Title'%>
  <%=form.text_field :title, required: true, class: "form-control" %>
  </div>

  <div class="form-group">
  <%=form.label :description, 'Description' %></p>
  <%=form.text_area :description, cols: 30, rows: 20, class: "form-control"%>
  </div>

  <div >
  <%=form.label :due_date,'Deadline' %>
  <%=form.datetime_select :due_date%>
  </div>

  <div >
  <%=form.label :priority, 'Priority'%>
  <%=form.number_field :priority, required: true, min: 1, max: 5%>
  </div>

  <div>
  <%=form.submit%>
  </div>

  <%-end%>
</div>