

<%=form_for @task   do |form|%>
<%=render 'shared/errors.html.erb', :target => @task%>

<div >
<%=form.label :title, 'Title'%>
<%=form.text_field :title %>
</div>

<div >
<%=form.label :description, 'Description' %></p>
<%=form.text_area :description, cols: 30, rows: 20%>
</div>

<div >
<%=form.label :due_date,'Deadline' %>
<%=form.datetime_select :due_date%>
</div>

<div>
<%=form.label :priority, 'Priority'%>
<%=form.number_field :priority, min: 1, max: 5%>
</div>

<div>
<%=form.submit%>
</div>

<%-end%>