<div class="row">
  <div class="col-lg-12">
  <h1>List of tasks</h1>
  <%=link_to 'Create new task', new_task_path%>
  </div>
</div>
<div class="row">
  <div class="col-lg-6">
  <ul>
  <%- @tasks.each do |t|%>
    <%-if can? :read, t%>
    <li>
    <span><%=link_to t.title, task_path(id: t.id)%></span>
     <%=link_to "Mark/unmark as comlete", complete_task_path(id: t.id), method: :patch%>
      <ul class="ddown">
        <li><%=link_to 'Edit',edit_task_path(id: t.id) %></li>
        <li><%=link_to'Delete', task_path(id: t.id), method: :delete %></li>
      </ul> 
    </li>
    <%-end%>
  <%-end%>
  </ul>
  </div>
  <div class="col-lg-6">
  </div>
</div>