<div class="row">
  <div class="col-lg-12">
  <h1>List of tasks</h1>
  <%=link_to 'Create new task', new_task_path%>
  </div>
</div>
<div class="row">
  <div class="col-lg-6">
  <h2>To do:</h2>
  <table class = "table">
  <%- @tasks.each do |t|%>
    <%-if (can? :read, t) && (t.complete == false)%>
    <tr>
    <td><%=link_to 'Done', complete_task_path(id: t.id), method: :patch%></td>
    <td><%=link_to t.title, task_path(id: t.id)%></td>
    <td class = "hiden"><%=link_to 'Edit',edit_task_path(id: t.id) %></td>
    <td class = "hiden"><%=link_to'Delete', task_path(id: t.id), method: :delete %></td>
    </tr>
    <%-end%>
  <%-end%>
  </table>
  </div>
  <div class="col-lg-6">
  <h2>Done:</h2>
  <table class = "table">
  <%- @tasks.each do |t|%>
    <%-if (can? :read, t) && (t.complete == true)%>
    <tr>
    <td><%=link_to 'Redo', complete_task_path(id: t.id), method: :patch%></td>
    <td><%=link_to t.title, task_path(id: t.id)%></td>
    <td class = "hiden"><%=link_to 'Edit',edit_task_path(id: t.id) %></td>
    <td class = "hiden"><%=link_to'Delete', task_path(id: t.id), method: :delete %></td>
    </tr>
    <%-end%>
  <%-end%>   
  </div>
</div>